// Sass
$spaceamounts: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
$sides: (top, bottom, left, right);
$breakpoint-tablet: 768px;
$tonap-color:rgb(59,138,204);
$tonap-color-hover: #85d4ec;
$tonap-p-text:rgb(128,142,153);
$break-large:1200px;
$break-medium:992px;
$break-small:768px;
$break-xsmall:576px;

*{
  font-family: "Montserrat";
}

.text-center{
  text-align: center;
}

#wrapper {
  background-color: #fafafa;
  width: 100;
  height: 100%;
  #navMenu{
    position: fixed;
    background-color:white;
    z-index: 1005;
  }
  .nav-menu{
    position: relative;
    .row{
      align-items: center;
    }
    .logo{
      width: 150px;
      @media screen and (max-width: $break-small) {
        padding: 10px 4px;
      }
    }
    .show-menu{
      color: #fff;
      display: none;
      float: right;
      border: none;
      outline: none;
      position: relative;
      margin: 0 auto;
      margin-right: 0;
      cursor:pointer;
      img{
        width: 40px;
      }
      @media screen and (max-width: $breakpoint-tablet) {
        display: block;
      }
    }
    input[type=checkbox]{
      display: none;
    }
    input[type=checkbox]:checked ~ #menu{
      display: block;
    }
    #menu{
      list-style-type: none;
      margin: 0;
      padding: 0;
      @media screen and (max-width: $breakpoint-tablet) {
        position: static;
        display: none;
      }
      li{
        display: inline-block;
        margin-right: 1px;
        @media screen and (max-width: $breakpoint-tablet) {
          margin-bottom: 1px;
          width: 100%;
        }
        a{
          display:block;
          font-size: 14px;
          text-align: center;
          color: $tonap-color;
          text-decoration: none;
          padding: 40px 10px;
          font-weight: bold;
          cursor: pointer;
          &:hover{
            color: $tonap-color-hover;
          }
          @media screen and (max-width: $break-medium) {
            font-size: 11px;
          }
        }
        .online-order{
          border: 2px solid $tonap-color;
          padding: 18px 20px;
          border-radius: 40px;
          &:hover{
            color:white;
            background: linear-gradient(to right,$tonap-color, #54bde2);
            border: none;
            padding: 20px 22px;
          }
        }
      }
    }
  }
  #header{
    background-color: $tonap-color;
    padding-top: 92px;
    height: calc(100vh - 92px);
    background-image: radial-gradient(farthest-corner at 70% 50%,#8cdff5 0%,$tonap-color 100%);
    position: relative;
    top:101px;
    @media screen and (max-width: $break-small) {
      height: unset;
    }
    .header-text{
      bottom: 150px;
      @media screen and (max-width: $break-medium) {
        bottom: 60px;
      }
      @media screen and (max-width: $break-small) {
        bottom: 10px;
      }
    }
    img{
      width: 100%;
    }
    h6{
      color:white;
      font-size: 26px;
      font-weight: 400;
      @media screen and (max-width: $break-small) {
        font-size: 24px;
      }
    }
    h3{
      color: white;
      font-size: 50px;
      font-weight: bold;
      line-height: 1;
      @media screen and (max-width: $break-small) {
        font-size: 36px;
      }
    }
    button{
      outline: none;
      border:none;
      background-color: white;
      color: $tonap-color;
      padding: 15px 30px;
      border-radius: 24px;
      font-weight: bold;
      font-size: 12px;
      margin-top: 30px;
      cursor: pointer;
    }
  }
  #products{
    position: relative;
    bottom: 200px;
    @media screen and (max-width: $break-small) {
      position: relative;
      top: 101px;
      bottom: 0;
    }
    @media screen and (max-width: $breakpoint-tablet) {
      bottom: 0;
    }
    @media screen and (max-width: $break-large) {
      bottom: 180px;
    }
    
    .col-md-4{
      padding: 28px 32px;
      background-color: white;
      @media screen and (min-width: $breakpoint-tablet) {
        max-width: 31.333%;
      }
      @media screen and (max-width: $break-small) {
        margin: 15px 0px;
      }
      h4{
        font-size: 28px;
        font-weight: bold;
        line-height: 1;
        margin-top: 16px;  
        @media screen and (max-width: $break-large) {
          font-size: 22px;
        }
        @media screen and (max-width: $break-medium) {
          font-size: 16px;
        }
        @media screen and (max-width: $break-small) {
          font-size: 26px;
        }
      }
      p{
        font-size: 14px;
        color:$tonap-p-text;
        font-weight: 500;
        @media screen and (max-width: $break-medium) {
          font-size: 12px;
        }
        @media screen and (max-width: $break-small) {
          font-size: 16px;
        }
      }
      .divider{
        height: 6px;
        width: 90px;
        background-color: $tonap-color;
        margin-top: 24px;
        margin-bottom: 24px;
      }
      .icon{
        display: flex;
        picture{
          @media screen and (max-width: $break-medium) {
            width: 60px;
            height: 60px;
          }
        }
        img{
          @media screen and (max-width: $break-medium) {
            width:100%;
            height: 100%;
          }
          @media screen and (max-width: $break-small) {
            width:unset;
            height: unset;
          }
        }
        .textarea{
          display: block;
          margin: 0 auto;
          h4{
            color:$tonap-color;
          }
        }
      }
    }
  }
  #aboutus{
    position: relative;
    bottom: 80px;
    @media screen and (max-width: $breakpoint-tablet) {
      bottom: 0;
      top:130px;
    }
    img{
      width:100%;
    }
    h3{
      font-size: 32px;
      font-weight: bold;
      line-height: 1;
      margin-top: 30px;
    }
    p{
      font-size: 14px;
      color: $tonap-p-text;
      font-weight: 500;
    }
    .divider{
      height: 6px;
      width: 90px;
      background-color: $tonap-color;
      margin-top: 24px;
      margin-bottom: 24px;
    }
    button{
      outline: none;
      border:none;
      background-color: white;
      color: $tonap-color;
      padding: 15px 50px;
      border-radius: 24px;
      border: solid 2px $tonap-color;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
      margin-top: 20px;
      &:hover{
        color:white;
        background: linear-gradient(to right,$tonap-color, #54bde2);
        border: none;
        padding: 16px 52px;
      }
    }
  }
  #orderProduct{
    position: relative;
    bottom: 140px;
    @media screen and (max-width: $break-small) {
      top: 101px;
      padding-top: 20px;
    }
    .mainselect{
      width: 100%;
      #mainselect{
        display: block;
        margin: 0 auto !important;
      }
    }
    h4{
      font-size: 32px;
    }
    p{
      font-size: 14px;
      color:$tonap-p-text;
    }
    .col-lg-3{
      background-color: white;
      box-shadow: 1px 1px 18px 3px lightgrey;
      @media screen and (min-width: $break-medium) {
        max-width: 23%;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 10 px;
      }
    }
    .col-md-6{
      background-color: white;
      box-shadow: 1px 1px 18px 3px lightgrey;
      @media screen and (min-width: $break-xsmall) and (max-width: $break-medium) {
        max-width: 46%;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 10px;
      }
    }
    .col-12{
      background-color: white;
      box-shadow: 1px 1px 18px 3px lightgrey;
      @media screen and (max-width: $break-xsmall) {
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
    button{
      outline: none;
      border:none;
      background-color: white;
      color: $tonap-color;
      padding: 15px 50px;
      border-radius: 24px;
      border: solid 2px $tonap-color;
      font-weight: bold;
      font-size: 12px;
      @media screen and (max-width: $break-large) {
        padding: 15px 40px;
      }
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 20px;
      &:hover{
        color:white;
        background: linear-gradient(to right,$tonap-color, #54bde2);
        border: none;
        padding: 16px 52px;
        @media screen and (max-width: $break-large) {
          padding: 16px 42px;
        }
      }
    }
    .showProducts{
      position: relative;
      .divider{
        background-color: rgb(223, 223, 223);
        width: 100%;
        height: 2px;
      }
      #showProducts{
        width: 30px;
        height: 30px;
        background-color: $tonap-color;
        border-radius: 30px;
        position: absolute;
        cursor:pointer;
        transition: 0.3s ease-in-out;
        &:hover{
          transform: scale(1.4);
        }
        img{
          filter: invert(100%);
          transform: rotate(90deg);
        }
      }
      #showProductsText{
        font-size: 16px;
        color:black;
        font-weight: bold;
      }
    }
    #moreProducts{
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.5s ease-in-out;
    }
    img{
      width: 100%;
    }
  }
  .contact{
    .right{
      background-color: #f3f2f2;
    }
    #map{
      height: 400px;
    }
    .contactHolder{
      margin-top: 20px;
      @media screen and (max-width: $break-medium) {
        position: relative !important;
      }
      input[type=text]{
        @media screen and (max-width: $break-medium) {
          width: 60% !important;
        }
        @media screen and (max-width: $break-small) {
          width: 80% !important;
        }
      }
      textarea{
        @media screen and (max-width: $break-medium) {
          width: 60% !important;
        }
        @media screen and (max-width: $break-small) {
          width: 80% !important;
        }
      }
      input[type=submit]{
        @media screen and (max-width: $break-small) {
          margin: 0 auto !important;
          display: block;
          margin-top: 10px !important;
          margin-bottom: 10px !important;
        }
      }
      form{
        @media screen and (max-width: $break-small) {
          padding-bottom: 12px;
        }
      }
      .contactcard{
        @media screen and (max-width: $break-small) {
          position: relative;
          top: 10px;
          right: 0;
        }
      }
    }
    .contactform{
      background: linear-gradient(#3b8bcd, #55bee2);
      input[type=text]{
        width: 280px;
        margin-left: 40px;
        margin-top: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        padding-bottom: 5px;
        margin-bottom: 5px;
        outline: none;
      }
      textarea{
        width: 280px;
        margin-left: 40px;
        margin-top: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        color:white;
        font-size: 12px;
        ::placeholder {
          color: white;
          opacity: 1;

        }
      }
      h5{
        font-size: 24px;
        color:white;
        font-weight: bold;
        padding-left: 40px;
        padding-top: 30px;
      }
      input[type=submit]{
        margin-left: 80px;
        outline: none;
        border:none;
        background-color: transparent;
        color: white;
        padding: 15px 50px;
        border-radius: 24px;
        border: solid 1px white;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 24px;
      }
      ::placeholder{
        color:white;
        opacity: 0.8;
        font-size: 12px;
      }
      
    }
    .contactcard{
      position: absolute;
      top: 70px;
      right: -115px;
      background-color: white;
      padding-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
      @media screen and (max-width: $break-large) {
        right:-35px;
        padding-left: 10px;
        padding-right: 10px;
      }
      .info{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 20px;
          -webkit-filter: invert(100%) grayscale(100%) brightness(38%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
          filter: invert(100%) grayscale(100%) brightness(38%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
        }
        p{
          color:$tonap-color;
          text-decoration: underline;
          font-weight: bold;  
          padding-left: 5px;
        }
      }
      h4{
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
      }
      p{
        font-size: 12px;
        color:$tonap-p-text;
        text-align: center;
        margin-bottom: 1px;
      }
    }
  }
  .footer{
    .footerlinks{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 20px 200px;
      @media screen and (max-width: $break-large) {
        padding: 20px 100px;
      }
      @media screen and (max-width: $break-small) {
        padding: 20px 10px;
      }
      a{
        font-size: 14px;
        color:$tonap-p-text;
        &:hover{
          color:$tonap-color;
          text-decoration: underline;
        }
      }
      
    }
    img{
      display: block;
      margin:0 auto;
    }
    p{
      font-size: 12px;
      color:$tonap-p-text;
      text-align: center;
      padding-top: 10px;
    }
  }
  .order-header{
    h4{
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    select{
      padding: 10px 10px;
      border-radius: 24px;
      outline:none;
    }
  }
  .order{
    background-color: white;
    img{
      width: 100%;
    }
    h5{
      font-size: 28px;
      font-weight: bold;
      text-align: left;
      padding-top: 30px;
    }
    p{
      font-size: 14px;
      color:$tonap-p-text;
    }
    .col-md-3{
      background-color: white;
      @media screen and (min-width: $breakpoint-tablet) {
        margin-top: 10 px;
      }
    }
    button{
      outline: none;
      border:none;
      background-color: white;
      color: $tonap-color;
      padding: 15px 50px;
      border-radius: 24px;
      border: solid 2px $tonap-color;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 20px;
      &:hover{
        color:white;
        background: linear-gradient(to right,$tonap-color, #54bde2);
        border: none;
        padding: 16px 52px;
      }
    }
    table{
      width: 100%;
      .delete{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      a{
        color:white;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
    td{
      border: 1px solid #ddd;
      padding: 8px;
    }
    th{
      border: 1px solid #ddd;
      padding: 8px;
    }
    tr:nth-child(even){
      background-color: #f2f2f2;
    }
    tr:hover {
      background-color: #ddd;
    }
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: lightgrey;
      color: #808e99;
      font-size: 12px;
    }
    #detailOrder{
      tr{
        &:hover{
          background-color: white;
        }
      }
      td{
        &:hover{
          background-color: white;
        }
      }
      .edit{
        cursor:pointer;
        &:hover{
          color:red;
        }
      }
    }
    form{
      padding-bottom: 30px;
      p{
        font-size: 14px;
        color:$tonap-p-text;
        margin-bottom: 4px;
        margin-top: 15px;
      }
    }
    input[type="text"]{
      width: 80%;
      outline: none;
      border:1px solid lightgray;
      padding: 10px 20px;
      border-radius: 4px;
    }
    textarea{
      width: 80%;
      outline: none;
      border:1px solid lightgray;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 12px;
      color:$tonap-p-text;
    }
    input[type="submit"]{
      outline: none;
      border:none;
      background: linear-gradient(to right,$tonap-color, #54bde2);
      color: white;
      padding: 15px 35px;
      border-radius: 24px;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    ::placeholder{
      font-size: 12px;
    }
  }
}

// This will create the following classes:
// .p{side}-{spaceamounts}, .m{side}-{spaceamounts} e.g:
// .pt-3 { padding-top: 1.5rem; }, .mt-3 { margin-top: 1.5rem; }
@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space * 0.5}rem!important;
    }
  
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space * 0.5}rem!important;
    }
  }
}
.m-auto { margin: 0 auto!important; }
.ml-50{margin-left: 50% !important;}

.position-relative{position: relative;}
.position-absolute{position: absolute;}
.top{top:0;margin-left: 50%;transform: translateX(-50%);}
.white{background-color: white;}

#productOdberniky{
  display: none;
}
#productSkumavky{
  display: none;
}
.modal{
  h4{
    color:$tonap-color;
    font-size: 24px;
    font-weight: bold;
  }
  p{
    font-size: 16px;
    color:$tonap-p-text;
  }
  h6{
    font-size: 24px;
    color:rgb(22,22,22);
    font-weight: bold;
  }
  button{
      outline: none !important;
      border:none;
      background: linear-gradient(to right,$tonap-color, #54bde2);
      color: white;
      padding: 18px 50px;
      border-radius: 24px;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
      margin-top: 20px;
  }
  .modalButton{
    background: white;
    border:2px solid grey;
    color:grey;
    margin-right: 10px;
    &:hover{
      border:2px solid white;
      background: linear-gradient(to right,$tonap-color, #54bde2);
      color:white;
    }
  }
  .activeButton{
    border:2px solid white;
    background: linear-gradient(to right,$tonap-color, #54bde2);
    color:white;
  }
  .choose{
    margin-top: 10px; 
  }
  .form-check-input{
    display: none;
  }
  .form-check-label{
    background: white;
    border:1px solid grey;
    color:grey;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    &:hover{
      border:1px solid white;
      background: linear-gradient(to right,$tonap-color, #54bde2);
      color:white;
    }
  }
  input[type=radio]:checked + .form-check-label{
    border:1px solid white;
    background: linear-gradient(to right,$tonap-color, #54bde2);
    color:white;
  } 
  .modal-dialog{
    @media screen and(min-width:$break-xsmall){
      min-width: 700px;
      max-width: 1000px !important;  
      width: 80% !important;
    }
    .modal-content{
      min-height: 500px;
    }
  }
}
#orderModal{
  #modalPackageType1{
    display: none;
  }
  #modalPackageType2{
    display: none;
  }
  #modalPackage1{
    display: none;
  }
  #modalPackage2{
    display: none;
  }
  .alert{
    color:red;
  }
}
#successOrder{
  .modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#successEmail{
  .modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

